page-login {
  .bg-image {
    background-image: url('../assets/imgs/car-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    // background-size: contain;
  }

  .no-scroll .scroll-content {
    overflow: hidden;
  }
}
