<!-- <ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>Login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content class="bg-image no-scroll" padding>
  <!-- <google-login></google-login> -->
  <!-- <div *ngIf="(auth.userProfile) || {} as user"> -->
  <!-- *ngIf="!user.uid" -->
  <div padding class="container">
    <button ion-button small round (click)="googleLogin()" color="secondary" icon-left >
      <ion-icon name="logo-googleplus"></ion-icon> Login
    </button>
  </div>
  <!-- </div> -->
</ion-content>
