<ion-header>

  <ion-navbar color="secondary">
    <ion-title text-center>DEALS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content full-screen padding>

  <div *ngIf="(carDealsList$ | async) as list">
    <ion-card *ngFor="let item of list" (click)="getDetail(item)">
      <img style="height: 200px;" [src]="item.photo ? item.photo : 'assets/imgs/no-img.png'" />
      <ion-card-content>
        <ion-card-title>
          {{item.make}}
        </ion-card-title>
        <p>{{item.model}}</p>
        <p>
          {{item.description}}
        </p>
      </ion-card-content>
    </ion-card>

    <br/>
  </div>
</ion-content>
