<ion-header>

  <ion-navbar color="secondary">
    <ion-title text-center>DEALS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content full-screen padding>

  <!-- <div *ngIf="carList"> -->
  <ion-searchbar padding [showCancelButton]="true" placeholder="Search Car Model" [(ngModel)]="searchInput" (ionInput)="OnInput($event)"
    (ionCancel)="OnCancel($event)" (ionClear)="OnCancel($event)">
  </ion-searchbar>
  <!-- </div> -->

  <!-- <div *ngIf="(carDealsList$ | async) as list"> -->
  <div *ngIf="carList">
    <ion-card *ngFor="let item of carList">
      <ion-slides autoplay="2500" loop="true" pager="true" paginationType="bullets" *ngIf="item.photos && item.photos.length > 1">
        <ion-slide *ngFor="let item of item.photos">
          <img src="{{API_URL+'/images/'+ item}}" alt="car image" />
        </ion-slide>
      </ion-slides>
      <img *ngIf="item.photos && item.photos.length == 0" src="assets/imgs/no-img.png" />
      <img *ngIf="item.photos && item.photos.length == 1" src="{{API_URL + '/images/'+ item.photos[0]}}" />
      <ion-card-content>
        <ion-card-title>
          {{item.make}}
        </ion-card-title>
        <p>{{item.model}}</p>
        <p>
          {{item.description}}
        </p>
      </ion-card-content>
      <ion-item>
        <button ion-button icon-start clear item-start (click)="deleteItem(item)" *ngIf="(user?.roles == 'admin') || (user?._id === item?.createdBy?._id)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
        <button ion-button clear icon-start item-center (click)="editItem(item)" *ngIf="(user?.roles== 'admin') || (user?._id === item?.createdBy?._id)">
          <ion-icon name="open"></ion-icon>
          Edit
        </button>
        <button ion-button icon-start clear item-end (click)="getDetail(item)">
          <ion-icon name="navigate"></ion-icon>
          More
        </button>
      </ion-item>
    </ion-card>

    <br />
  </div>
</ion-content>
