<ion-header>

  <ion-navbar color="secondary">
    <ion-title text-center>DEALS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content full-screen padding>

  <!-- <div *ngIf="carList"> -->
  <ion-searchbar padding [showCancelButton]="true" placeholder="Search Car Model" [(ngModel)]="searchInput" (ionInput)="OnInput($event)"
    (ionCancel)="OnCancel($event)" (ionClear)="OnCancel($event)">
  </ion-searchbar>
  <!-- </div> -->

  <!-- <div *ngIf="(carDealsList$ | async) as list"> -->
  <div *ngIf="carList">
    <ion-card *ngFor="let item of carList">
      <img style="height: 200px;" [src]="item.photo ? item.photo : 'assets/imgs/no-img.png'" />
      <ion-card-content>
        <ion-card-title>
          {{item.make}}
        </ion-card-title>
        <p>{{item.model}}</p>
        <p>
          {{item.description}}
        </p>
      </ion-card-content>
      <ion-item>
        <button ion-button icon-start clear item-start (click)="deleteItem(item)" *ngIf="(user?.roles.admin) || (user?.uid === item?.createdBy?.uid)">
          <ion-icon name="trash"></ion-icon>
          Delete</button>
        <button ion-button icon-start clear item-end (click)="getDetail(item)">
          <ion-icon name="navigate"></ion-icon>
          More
        </button>
      </ion-item>
    </ion-card>

    <br/>
  </div>
  <!-- <button ion-button full (click)="pushtoupload()">click me</button> -->
</ion-content>
