<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>SIGN UP</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="signUpForm.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="signUpForm.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="signUpForm.password"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button block ion-button (click)="signUp()">Register</button>
  </div>
</ion-content>
