<ion-header transparent>
  <ion-navbar color="primary">
    <ion-title text-center>
      UPLOAD
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <div class="slides"> -->
  <ion-slides #carSlider pager>

    <ion-slide>
      <div padding>
        <ion-item-group>
          <ion-item-divider color="light">DEALER INFO</ion-item-divider>
          <ion-item padding>
            <ion-label floating>Dealer Name</ion-label>
            <ion-input [(ngModel)]="dealerForm.name" type="text"></ion-input>
          </ion-item>
          <ion-item padding>
            <ion-label floating>Showroom Name</ion-label>
            <ion-input [(ngModel)]="dealerForm.showroomName" type="text"></ion-input>
          </ion-item>
          <ion-item padding>
            <ion-label floating>Address</ion-label>
            <ion-input [(ngModel)]="dealerForm.address" type="text"></ion-input>
          </ion-item>
          <ion-item padding>
            <ion-label floating>City</ion-label>
            <ion-input [(ngModel)]="dealerForm.city" type="text"></ion-input>
          </ion-item>
          <ion-item padding>
            <ion-label floating>State</ion-label>
            <ion-input [(ngModel)]="dealerForm.state" type="text"></ion-input>
          </ion-item>
          <ion-item padding>
            <ion-label floating>Contact Number</ion-label>
            <ion-input [(ngModel)]="dealerForm.contact_no" type="number"></ion-input>
          </ion-item>
          <!-- <ion-item *ngIf="!this.dealerForm.isMobileNumberValid">
              <p>Please enter a valid mobile number.</p>
            </ion-item> -->
        </ion-item-group>
      </div>
    </ion-slide>

    <ion-slide>
      <div padding>
        <p style="font-family:open-sans; font-size:14px; color: #d3c719fa">Please fill the
          <b>Car</b> details.</p>

        <img style="height:auto;width:auto;" src="assets/imgs/car-image.png" alt="dealer-form">
      </div>
    </ion-slide>

    <ion-slide>

      <div class="slide-item" padding>
        <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

        <!-- <ion-list no-lines> -->
        <stocker-form [stockerForm]="stockerForm" [submitAttempt]="submitAttempt"></stocker-form>
      </div>
      <!-- </ion-list> -->

    </ion-slide>

    <ion-slide>
      <div class="slide2" padding>
        <ion-list no-lines>
          <regulatory-info [regInfoForm]="regInfoForm" [submitAttempt]="submitAttempt"></regulatory-info>
        </ion-list>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide3" padding>
        <ion-list no-lines>
          <price-info [priceInfoForm]="priceForm" [submitAttempt]="submitAttempt"></price-info>
        </ion-list>
      </div>
    </ion-slide>

    <ion-slide>
      <div style="height: 100%; margin-top: 15vh;">
        <div padding>
          <ion-grid>
            <ion-row>
              <ion-col item-center col-6>
                <button class="car-img-button" icon-only clear (click)="addFromGallery('camera')">
                  <ion-icon class="gallery-icon" name="camera"></ion-icon>
                </button>
              </ion-col>
              <ion-col item-center col-6>
                <button class="car-img-button" icon-only clear (click)="addFromGallery('gallery')">
                  <ion-icon class="gallery-icon" name="images"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div padding>
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let image of selectedImages">
                <div class="img-item">
                  <img src="{{image}}" alt="album">
                  <span class="remove-button-icon" (click)="removeImage(image)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </span>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- <ion-list>
            <ion-item *ngFor="let image of selectedImages">
              <ion-thumbnail item-center>
                <img [src]="image">
              </ion-thumbnail>
              <button ion-button item-right (click)="removeImage(image)"></button>
            </ion-item>
          </ion-list> -->
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div *ngIf="carDetailForm" class="slide4" padding>
        <ion-list no-lines>
          <form [formGroup]="carDetailForm">
            <!-- <ion-item>
              <ion-label floating>Photo</ion-label>
              <ion-input formControlName="photo" type="text" [class.invalid]="!carDetailForm.controls.photo.valid
                  && (carDetailForm.controls.photo.dirty || submitAttempt)"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="image" item-start (click)="addFromGallery('cam')"></ion-icon>
              <ion-icon name="image" item-center (click)="addFromGallery('gallery')"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-list>
                    <ion-item *ngFor="let p of selectedImages"></ion-item>
                  </ion-list>
                </ion-row>
              </ion-grid>
            </ion-item> -->
            <ion-item>
              <ion-label floating>Duration</ion-label>
              <ion-input formControlName="duration" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Mileage</ion-label>
              <ion-input formControlName="mileage" type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Description</ion-label>
              <ion-textarea formControlName="description"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>Is Car Accidental</ion-label>
              <ion-checkbox formControlName="isCarAccidental"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Is Car Certified</ion-label>
              <ion-checkbox formControlName="isCarCertified"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Is Car Flood Affected</ion-label>
              <ion-checkbox formControlName="isCarFloodAffected"></ion-checkbox>
            </ion-item>
            <!-- <ion-item>
              <ion-label floating>Is Car Accidental</ion-label>
              <ion-input formControlName="isCarAccidental" type="checkbox"></ion-input>
            </ion-item> -->
            <!-- <ion-item>
              <ion-label floating>Is Car Certified</ion-label>
              <ion-input formControlName="isCarCertified" type="checkbox"></ion-input>
            </ion-item> -->
            <!-- <ion-item>
              <ion-label floating>Is Car Flood Affected</ion-label>
              <ion-input formControlName="isCarFloodAffected" type="checkbox"></ion-input>
            </ion-item> -->
            <ion-item>
              <ion-label>Stock Entry Date</ion-label>
              <ion-datetime displayFormat="MMM/YYYY" pickerFormat="MMM/YYYY" formControlName="stockEntryDate"
              min="2010" max="2025-12-31"></ion-datetime>
            </ion-item>
          </form>
        </ion-list>
      </div>
      <button padding ion-button color="primary" (click)="save()">Upload</button>
    </ion-slide>

  </ion-slides>
  <!-- </div> -->
</ion-content>
