.ios,
.md {
  page-about {
    .slide-item {
      max-height: 100%;
      overflow-y: scroll;
    }
  }
}

.swiper-slide {
  display: block;
}

.swiper-wrapper {
  margin-bottom: 10vh !important;
}
ion-slides {
  height: auto !important;
}
